<%- include('header') -%>
    <div class="jumbotron">
        <h1><center>Find the Furniture You Need!</center></h1>
        <p><center>Please enter the furniture that you need and enter size of your room.</center></p>
        <p><center>We will show you available options. Choose your favorite and it will arrive in minutes!!! XD</center></p>
    </div>

    <form method="post" action="/search">
      <center>
      <h3>Furniture Type:</h3>
      <select id='door-select' name="type">
         <option value="bed">Bed</option>
         <option value="table">Table</option>
         <option value="sofa">Sofa</option>
         <option value="chair">Chair</option>
      </select>
      <br><br>
      <h3>Length of Room:</h3> <textarea name="length"></textarea>
      <br><br>
      <h3>Width of Room:</h3> <textarea name="width"></textarea>
      <br>
      <br>

      <% if (loggedIn) { %>
     <input type="submit">
     <% } else { %>
       You must be logged in to submit form info.
       <% } %>
    </form>
    </center>

    <%if (typeof(furnitures) != "undefined"){%>
      <% for(var i=0; i<furnitures.length; i++) { %>
          <li>
            <i>
            Type: <%= furnitures[i].Type %></\/i>
            <br>
            <i>
            Width: <%= furnitures[i].Width %></\/i>
            <br>
            <i>
            Length: <%= furnitures[i].Length %></\/i>
            <br>
            <i>
            Picture:<br><img src=" <%= furnitures[i].picAddress %>" width="300"></\/i>
            <br>
         </li>
       <% } %>
       <h3>Sorry No More In Stock...</h3>
    <% } %>

<%- include('footer') -%>
