<%- include('header') -%>
    <div class="jumbotron">
        <h1>Comment for <%= swatch._id %> </h1>
    </div>
    Brand Name: <%= swatch.BrandName %></\/i>
    <br>
    <i>
    Makeup Type: <%= swatch.TypeMakeup %></\/i>
    <br>
    <i>
    Color Code: <%= swatch.ColorCode %></\/i>
    <br>
    <i>
    Comments: <%= swatch.userComments %></\/i>

    <hr>

<%- include('footer') -%>
