<%- include('header') -%>
    <div class="jumbotron">
        <h1>New Furniture Recorded!</h1>
    </div>

    <br>
    Now you can go to Furniture Storage to see all furnitures in stock!
    

    <%= chairl%>
    <%= chairw%>
    <%= tablel%>
    <%= tablew%>


<%- include('footer') -%>
